table {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

td.rating, td.imdb{
    text-align: center;
}

th{
    background-color: #f2f2f2;
    border: 1px solid black;
}

#showname,#episodes {
    padding:6px;
    border:0;
    border-radius:2px;
    margin-right: 13px;
    margin-top: 20px;
}

.container{
    position: relative;
    margin-top: 76px;
    margin-left: -85px;
    flex: 1;
}

#persoff {
    background:#000;
    opacity:0.9;
    filter:alpha(opacity=90);
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:100;
}

video {
    position: absolute;
    top: -5px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 95%;
    border: none;
    z-index: 102;
}

#modal {
    background-color: #282828;
    width: auto;
}

#modalcontainer {
    padding-top: 0;
    display: none;
}

.modaldiv {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    color: #f2f2f2;
}

.modaldiv_i {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    color: #f2f2f2;
}

#currentepisode {
    position: relative;
    padding-top: 57%;
    text-align: center;
    font-size: 25px;
}

.navigate {
    position: relative;
    margin-top: 57%;
    z-index: 102;
    display: none;
}

